.form {
    max-width: 600px;
    margin: auto;
    display: block;
}

.form__labelText {
    width: 100%;
    margin-right: 5px;
    font-size: 20px;
}

.form__field {
    border: 1px solid rgb(180, 180, 180);
    padding: 10px;
    border-radius: 5px;
    width: 150%;
    background-color: rgb(209, 209, 209);
    margin: 5px;
    align-items: center;
    cursor: pointer;
}

.form__button {
    border: 2px solid rgb(161, 159, 159);
    padding: 15px;
    border-radius: 20px;
    width: 100%;
    background-color: rgb(209, 209, 209);
    margin: auto;
    cursor: pointer;
}

.form__button:hover {
    transition: 1s;
    transform: scale(1.1);
    background-color: rgb(196, 196, 196);
    ;
}

.form__header {
    text-align: center;
}

.form__info {
    text-align: center;
    color: rgb(102, 99, 99);
}

.container {
    display: flex;
    align-items: center;
}

@media (max-width: 700px) {
    .container {
        flex-wrap: wrap;
    }
}