html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: 'Kanit', sans-serif;
  background-position: center;
  background-image: url("../public/dollars.png");
}