html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

:root {
  background-image: url("/src/dollars.png");
}

body {
  font-family: 'Kanit', sans-serif;
  background-position: center;
}