html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: 'Kanit', sans-serif;
  background-size: 300px;
  background-image: url("../public/background1.jpg");
}